@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');


.form-container {


  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin-top: 2em;

}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #ffb703;
  padding: 15px;
  color: white;


}
.add-new{
  text-align: center;
  background-color: #023047;
  color: #f2f2f2;
  font-family: 'poppins', 'Times New Roman', Times, serif;
}

.form-field {
  /* margin: 10px 190px 10px 190px; */
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 20px 20px 20px 20px;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #1d3557;
  color: white;
  cursor: pointer;
  width: 150px;
  margin: auto;
  transition: 300ms ease-out;
}

button:disabled {
  cursor: default;
}

button:hover {
  /* letter-spacing: 1px; */
  transform: scale(105%);
  box-shadow: 2px 3px 2px rgb(185, 182, 182);
}

.captcha {
  display: flex;
  justify-content: center;

}
