@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Rampart+One&display=swap');

.head-bar{
  /* color: #1F2833; */
  background-color: #023047;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-end; 
  height: 100px;
  margin: 0;
}

#heading {
  flex-grow: 1;
  padding: 25px;
  color: white;
  font-family:'Rampart One','Courier New', Courier, monospace;
  font-size: larger;
  color: greenyellow;
}

#contact a{

  text-decoration: none;
  color: white;
  padding: 25px;
  font-family:'Klee One','Courier New', Courier, monospace;
  font-weight: 600;


}
#contact a:hover {
  color: greenyellow;
}




.image-container
{
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.image-items
{

  
}
